@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap";
.footerr {
  background-color: black;
  margin-top: auto;
  width: 100%;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.footerNav {
  margin: 30px 0px;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
}

.footerBottom {
  background-color: #000;
  padding: 10px;
  text-align: center;
}
.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 0px 5px;
}

.imgCarousel {
  height: 940px;
  width: auto;
  object-fit: cover;
}

.slide1Text {
  color: white;
}

.tit-txt-color {
  color: #f1fbff;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1fbff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

main {
  position: relative;
}

.img-twitter {
  width: 60px;
}

.greenSpace {
  padding: 30px;
}

.cart-col {
  background-color: black;
}

.com-card-txt {
  padding: 20px;
  margin-bottom: 5px;
}

.height-fix {
  height: 470px;
}

.margg {
  padding-bottom: 70px;
  margin-bottom: 300px;
}

.margg2 {
  padding-bottom: 130px;
  margin-bottom: auto;
}

.margg3 {
  padding-bottom: 700px;
  margin-bottom: 14px;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/starsbg.png);
}

.card-bg {
  background-color: #000;
}

.background-img {
  background-image: url(../img/starsbg.png);
}

.center {
  justify-self: center;
  align-self: center;
}

.counter-index {
  padding: 5px;
  max-width: 1000px;
  width: 95%;
  margin: 20px auto;
}

.cont-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0;
}

.box-index {
  flex: 1;
  border: 1px solid black;
  margin: 2px;
  padding: 10px;
  font-weight: bold;
  color: #000;
}
.box-index:first-child {
  margin-left: 0;
  background-color: red;
}
.box-index:last-child {
  margin-left: 0;
  background-color: rgb(149, 36, 36);
}

.second-child {
  background-color: blue;
}

.bg-form {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/update1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.85;
}
.bg-form .contentt h2 {
  font-size: 36px;
  font-weight: 800;
  color: white;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.bg-form .contentt p {
  font-weight: 300;
  color: white;
}

.contentt {
  max-width: 800px;
  text-align: center;
  font-weight: bold;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.container1 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container1 .contactInfo .box1 {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container1 .contactInfo .box1 .icon1 {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.text1 {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.text1 h3 {
  font-weight: 500;
  font-weight: bold;
}

.location {
  color: red;
}

.wpp {
  color: green;
}

.email {
  color: rgb(0, 183, 255);
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5), 0 5px 5px rgba(0, 0, 0, 0.5);
}
.contactForm h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  resize: none;
  color: #fff;
}
.contactForm .inputBox input:focus ~ label {
  color: transparent;
  font-size: 14px;
  transform: translateY(-20px);
}
.contactForm .inputBox input:valid ~ label {
  color: transparent;
  font-size: 14px;
  transform: translateY(-20px);
}
.contactForm .inputBox label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  resize: none;
  color: #fff;
}
textarea:focus ~ label {
  color: transparent;
  font-size: 14px;
  transform: translateY(-20px);
}
textarea:valid ~ label {
  color: transparent;
  font-size: 14px;
  transform: translateY(-20px);
}

.button-form {
  width: 100px;
  background: rgb(250, 90, 90);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  transition: all 50ms ease-in;
}
.button-form:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
}

.main-bg-prices {
  width: 100%;
  height: auto;
  background-image: url(../img/option1.jpg);
  background-position: center;
  background-size: cover;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  margin: 1rem;
  transition: all 0.2s ease-in;
}
.card-wrapper:hover {
  transform: scale(1.1);
}
.card-wrapper:hover .card-header h3 {
  transform: scale(1.1);
  color: rgb(212, 66, 66);
  letter-spacing: 2px;
}

.card-header {
  margin: 1rem;
  text-align: center;
}
.card-header img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.card-detail {
  width: 100%;
  text-align: center;
}
.card-detail p {
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #d5d5d5;
}
.card-detail p:hover {
  background-color: #d5d5d5;
}

.check {
  color: rgba(214, 48, 109, 0.528);
}

.card-price {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}
.card-price p {
  font-size: 3rem;
  font-weight: 600;
}
.card-price p sup {
  font-size: 1rem;
}
.card-price p sub {
  font-size: 1rem;
}

.card-button {
  padding: 0.6rem 3rem;
  border: 2px solid red;
  background-color: red;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 50ms ease-in;
}
.card-button:hover {
  border: 2px solid orange;
  background-color: transparent;
  color: orange;
  font-weight: 600;
}

.bg-section {
  background: url(../img/Update2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  margin: auto;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.about-text h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.section-padding {
  padding: 40px 0;
}

.about-img {
  padding: 0;
  margin: 0;
}

.rules {
  width: 600px;
  height: 400px;
}

.container-gallery {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.gallery img {
  width: 100%;
  height: auto;
}

.bg-color-navbar {
  background-color: black;
}

.navbar-text {
  color: white;
  font-weight: 600;
  font-weight: bold;
}

.fuentes {
  font-size: 1rem;
  padding-left: 2rem;
  font-weight: 500;
  font-weight: bold;
  color: white;
}

.logo1 {
  width: 85px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
}

.correction {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
}

.wrapping {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/option4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introdu {
  padding: 30px 100px;
}

article h1 {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
article h1::after {
  content: "";
  height: 5px;
  width: 225px;
  background-color: #fff;
  display: block;
  margin: auto;
}
article img {
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 60px;
}
article h2 {
  font-size: 30px;
  font-weight: bold;
  font-weight: 600;
}
article h3 {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-weight: bold;
}
article .dodo-wiki {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
@media screen and (max-width: 980px) {
  .cont-index .box-index {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .cont-index .box-index:last-child {
    flex-basis: 100%;
    margin: 0;
  }
  .cont-index .box-index:nth-last-child(2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 680px) {
  .cont-index .box-index {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
@media (max-width: 990px) {
  .bg-form {
    padding: 50px;
  }
  .container1 {
    flex-direction: column;
  }
  .container1 .contactInfo {
    margin-bottom: 40px;
  }
  .contactForm {
    width: auto;
  }
}
.banner {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
}

/* Column styles */
.column-index {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
}

.row-index {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.love1 {
  background-color: #34388b;
  color: white;
}

.love2 {
  background-color: #3a3e9b;
  color: white;
}

.love3 {
  background-color: #24295f;
  color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
