* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    width: 85px;
}

.imgCarousel {
    height: 850px;
    width: auto;
    object-fit: cover;
}

.slide1Text {
    color: white;
}

.bg-color-navbar {
    background-color: black;
}

.navbar-text {
    color: white;
    font-weight: 500;
    font-weight: bold;
}
a .nav-link .active .navbar-text {
    color: white;
}

/* SECTION ABOUT */

.about-text {
    margin: auto;
    padding: 20px;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section-padding {
    padding: 100px 0;
}
.about-img {
    padding: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
body {
    background: #f1fbff;
    /* padding-bottom: 10px; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
html {
    height: 100%;
}
main {
    position: relative;
}

.tit-txt-color {
    color: #f1fbff;
}
/* zaz{
	position: relative; */

.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
/* .navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
} */
.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
    font-size: 50px;
}
.team .card-body i {
    font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
    .card {
        margin-bottom: 30px;
    }
    .img-area img {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
}
.img-twitter {
    width: 60px;
}

.greenSpace {
    padding: 30px;
}

.cart-col {
    background-color: black;
}
.com-card-txt {
    padding: 20px;
    margin-bottom: 5px;
}

.height-fix {
    height: 470px;
}

/* Footer */

.footerr {
    background-color: black;
    margin-top: auto;
    width: 100%;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footerNav {
    margin: 30px 0px;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}
.footerBottom {
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p {
    color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0px 5px;
}
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.margg {
    padding-bottom: 70px;
    margin-bottom: 300px;
}

.margg2 {
    padding-bottom: 130px;
    margin-bottom: auto;
}

.margg3 {
    padding-bottom: 700px;
    margin-bottom: 14px;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh;
    width: 100vw; */
    background-image: url(../img/starsbg.png);
    /* position: relative; */
}

.card-bg {
    background-color: #000;
}

.background-img {
    background-image: url(../img/starsbg.png);
}

.center {
    justify-self: center;
    align-self: center;
}
.card-comission {
    display: grid;
}

/* ------------Formulario----------- */

.bg-form {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/redlandscape.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.85;
}

.contentt {
    max-width: 800px;
    text-align: center;
    font-weight: bold;
}

.bg-form .contentt h2 {
    font-size: 36px;
    font-weight: 600;
    color: white;
    font-weight: bold;
}

.bg-form .contentt p {
    font-weight: 300;
    color: white;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.container1 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactInfo .box1 {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container1 .contactInfo .box1 .icon1 {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text1 {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.text1 h3 {
    font-weight: 500;
    font-weight: bold;
}
.location {
    color: red;
}
.wpp {
    color: green;
}
.email {
    color: rgb(0, 183, 255);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: transparent;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.6), 0 5px 5px rgba(0, 0, 0, 0.6);
}

.contactForm h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-weight: bold;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
    resize: none;
    color: #fff;
}

.contactForm .inputBox label {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.contactForm .inputBox input:focus ~ label,
.contactForm .inputBox input:valid ~ label {
    color: transparent;
    font-size: 14px;
    transform: translateY(-20px);
}
textarea:focus ~ label,
textarea:valid ~ label {
    color: transparent;
    font-size: 14px;
    transform: translateY(-20px);
}

.button-form {
    width: 100px;
    background: rgb(250, 90, 90);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 50ms ease-in;
}

.button-form:hover {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
}

@media (max-width: 990px) {
    .bg-form {
        padding: 50px;
    }
    .container1 {
        flex-direction: column;
    }
    .container1 .contactInfo {
        margin-bottom: 40px;
    }
    .contactForm {
        width: auto;
    }
}

/* -----------CARD PRCIESpage---------- */

.main-bg-prices {
    width: 100%;
    height: auto;
    background-color: red;
    background-image: linear-gradient(45deg, rgb(197, 59, 59) 0%, rgb(67, 9, 9) 100%);
}

.pricing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    margin: 1rem;
    transition: all 0.2s ease-in;
}

.card-wrapper:hover {
    transform: scale(1.1);
}

.card-header {
    margin: 1rem;
    text-align: center;
}
.card-wrapper:hover .card-header h3 {
    transform: scale(1.1);
    color: rgb(212, 66, 66);
    letter-spacing: 2px;
}

.card-header img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.card-detail {
    width: 100%;
}

.card-detail p {
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #d5d5d5;
}

.check {
    color: rgba(214, 48, 109, 0.528);
}

.card-detail p:hover {
    background-color: #d5d5d5;
}

.card-price {
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.card-price p {
    font-size: 3rem;
    font-weight: 600;
}

.card-price p sup,
.card-price p sub {
    font-size: 1rem;
}

.card-button {
    padding: 0.6rem 3rem;
    border: 2px solid red;
    background-color: red;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 50ms ease-in;
}

.card-button:hover {
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
    font-weight: 600;
}
