$color_1: white;
$color_2: #f1fbff;
$color_3: black;
$color_4: #000;
$color_5: #fff;
$color_6: red;
$color_7: green;
$color_8: rgb(0, 183, 255);
$color_9: transparent;
$color_10: rgb(212, 66, 66);
$color_11: rgba(214, 48, 109, 0.528);
$color_12: orange;
$color_13: rgb(255, 255, 255);
$color_14: rgb(49, 197, 255);
$font-family_1: "Poppins", sans-serif;
$font-family_2: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-family_3: sans-serif;
$background-color_1: black;
$background-color_2: white;
$background-color_3: #000;
$background-color_4: red;
$background-color_5: blue;
$background-color_6: rgb(149, 36, 36);
$background-color_7: transparent;
$background-color_8: #d5d5d5;
$background-color_9: #fff;
